<!DOCTYPE html>
<head>
    <title>GIP Jerko | Admin center</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/fa/css/fontawesome.min.css">
    <link rel="stylesheet" href="/fa/css/solid.min.css">
</head>
<body>
    
    <div id="topnav">
        <span class="selection-buttons"><i class="fa-solid fa-house"></i> Home</span>
        <a href="/admin/logout" class="selection-buttons" style="float: right !important;"><i class="fa-solid fa-right-from-bracket"></i>Log uit</a>
        <a href="" class="selection-buttons" style="float: right !important;"><i class="fa-solid fa-user"></i><%-username%></a>
    </div>
    <div id="main">
        <div id="info-pop-up" style="display: none; padding: 10px;">
            <br>
            <input type="hidden" name="" id="data-amount-hidden">
            <i class="fas fa-circle-notch fa-spin" style="font-size:24px; top: 30px; margin: auto; position: relative; display: none; margin-bottom: 35px;" id="info-pop-up-spinner"></i>
            <label for="info-pop-up-price" class="name-el">Nieuwe prijs (EUR):</label>
            <input id="info-pop-up-price" type="number" min="0" value="0" step="0.01" class="value-el" style="width: 50px;"></input>
            <br>
            <p id="info-pop-up-data" class="name-el" style="font-size: 14pt;"></p>
            <div id="info-pop-up-time">
                <label for="info-pop-up-amount" class="name-el" >Nieuwe tijd:</label>
                <span  class="value-el" >
                    <input type="number" value="1"name="" id="g-duration" value="1" min="1" max="30" onchange="calcPrice(document.getElementById('g-devices'), document.getElementById('g-price'), 'g')" style="width: 50px;">&ensp;
                    <select name="" id="g-duration-select" onchange="calcPrice(document.getElementById('g-devices'), document.getElementById('g-price'), 'g')">
                    <option value="1">Uur</option>
                    <option value="24">Dag(en)</option>
                    <option value="720">Maand(en)</option>
                </select>
            </span>
            </div>
            <br>
            <button style="margin: auto;" onclick="this.parentElement.style.display='none';document.getElementById('pop-up-background').style.display='none';" id="pop-up-btn">Sluiten</button>
            <button id="price-submit-button">Wijzigen</button>
            <br><br>
        </div>
        <div  id="pop-up"  style="display: none;"  >
            <section style="width: 100%; background-color: lightgray; height: 25px; position: absolute;"><!--dit is een section omdat js alle divs in het begin verwijdert-->
                <i class="fa-solid fa-info" style="left: 10px; top: 5px; position: absolute;"></i>
                <i class="fa-solid fa-xmark" onclick="document.getElementById('pop-up').style.display='none';document.getElementById('pop-up-background').style.display='none';" style="color: black; right: 5px; top: 5px; position: absolute;" id="pop-up-close"></i>
            </section>
            <br>
            <i class="fas fa-circle-notch fa-spin" style="font-size:24px; top: 30px; margin: auto; position: relative; display: none; margin-bottom: 35px;" id="pop-up-spinner"></i>
            <p id="pop-up-info"></p> 
            <button onclick="this.parentElement.style.display='none';document.getElementById('pop-up-background').style.display='none';" id="pop-up-btn" style="text-align: center;">Sluiten</button>
            <br><br>
        </div>

        <div id="pop-up-background" style="display: none;" >
        </div>
        <div class="settings">
            <h1>GIP instellingen</h1>
            <hr>
            <h2>Prijzen</h2>
            <h3>Data prijs </h3>
            <div id="data-prices-container">
                <p id="data-prices-container-info"></p>
                <table style="width: 100%;">
                    <thead>
                        <th>Data</th>
                        <th>Prijs</th>
                        <th>Wijzigen</th>
                    </thead>
                    <tbody id="data-prices-body"></tbody>
                </table>
            </div>
            <h3>Tijd prijs </h3>
            <div id="time-prices-container">
                <p id="time-prices-container-info"></p>
                <table style="width: 100%;">
                    <thead>
                        <th>Duratief</th>
                        <th>Prijs</th>
                        <th>Wijzigen</th>
                    </thead>
                    <tbody id="time-prices-body"></tbody>
                </table>
            </div>
            <button onclick="showPricePopup(0, 'newtime')" style="margin: auto;">Nieuw</button>
             <p class="name-el">
                <b>Opmerking: bij het ingeven van bestaande gegevens worden de bestaande gegevens overschreven.</b>
             </p>
            <hr>
            <h2>Netwerkinstellingen</h2>
        </div>
    </div>
    <script>
var infoPopup = document.getElementById("info-pop-up")
var popupInfo=document.getElementById("pop-up-info")
var popup = document.getElementById("pop-up")
var popupBackground=document.getElementById("pop-up-background")
var popupBtn = document.getElementById("pop-up-btn")
var prices;
getAllPrices()
function getAllPrices(){
    fetch("/admin/dashboard/get-all-prices")
    .then(response=>response.json())
    .then(data=>{
        console.log(data)
        prices=data
        createPricesChart()
    }).catch(err=>{
        console.log(err)
        document.getElementById("data-prices-container-info").innerText="Er ging iets mis."
    })
}
function createPricesChart(){
let element = document.getElementById("data-prices-body")
element.innerHTML=""
for(let i=0; i<prices.data.length;i++){
    let pricerow = document.createElement("tr")
    let priceRowAmount = document.createElement("td")
    priceRowAmount.innerText = prices.data[i].data+" GB"
    pricerow.appendChild(priceRowAmount)
    let priceRowPrice = document.createElement("td")
    priceRowPrice.innerText = prices.data[i].price + "€"
    pricerow.appendChild(priceRowPrice)
    let wijzigen = document.createElement("td")
    let wijzigenKnop = document.createElement("button")
    wijzigenKnop.setAttribute("class", "wijzigenknop")
    wijzigenKnop.setAttribute("onclick", "showPricePopup("+i+", 'data')")
    wijzigenKnop.innerText = "Wijzigen"
    wijzigen.appendChild(wijzigenKnop)
    pricerow.appendChild(wijzigen)
    element.appendChild(pricerow)
}
element = document.getElementById("time-prices-body")
element.innerHTML=""
for(let i=0; i<prices.time.length;i++){
    let pricerow = document.createElement("tr")
    let priceRowAmount = document.createElement("td")
    priceRowAmount.innerText = prices.time[i].time+"h"
    pricerow.appendChild(priceRowAmount)
    let priceRowPrice = document.createElement("td")
    priceRowPrice.innerText = prices.time[i].price + "€"
    pricerow.appendChild(priceRowPrice)
    let wijzigen = document.createElement("td")
    let wijzigenKnop = document.createElement("button")
    wijzigenKnop.setAttribute("class", "wijzigenknop")
    wijzigenKnop.setAttribute("onclick", "showPricePopup("+i+", 'time')")
    wijzigenKnop.innerText = "Wijzigen"
    wijzigen.appendChild(wijzigenKnop)
    pricerow.appendChild(wijzigen)
    element.appendChild(pricerow)
}
}
function showPricePopup(index, type){
infoPopup.style.display="block"
document.getElementById("pop-up-background").style.display="block"
if(type==="data"){
    document.getElementById("info-pop-up-time").style.display = "none"
    document.getElementById("price-submit-button").removeAttribute("onclick")
    document.getElementById("price-submit-button").setAttribute("onclick", "this.parentElement.style.display='none';changeDataPrice()")
    document.getElementById("info-pop-up-data").innerText = "Data: "+prices.data[index].data + " GB"
    document.getElementById("info-pop-up-data").style.display = "block"
    document.getElementById("data-amount-hidden").value = prices.data[index].data
}
else if(type==="time"){
    document.getElementById("info-pop-up-data").style.display = "none"
    document.getElementById("info-pop-up-time").style.display = "none"
    document.getElementById("price-submit-button").setAttribute("onclick", "this.parentElement.style.display='none';")
}
else{
    document.getElementById("info-pop-up-data").style.display = "none"
    document.getElementById("info-pop-up-time").style.display = "block"
    document.getElementById("price-submit-button").setAttribute("onclick", "this.parentElement.style.display='none';")
}
}
        function changeDataPrice(){
                console.log("hidden input value: "+document.getElementById("data-amount-hidden").value)
                popup.style.display="block"
                popupBackground.style.display="block"
                popupInfo.innerText="Wacht even..."
                document.getElementById("pop-up-spinner").style.display="block"
                const xhr = new XMLHttpRequest();
                xhr.open("PUT", "/admin/dashboard/change-data-price", true);
                xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                var data = "data="+document.getElementById("data-amount-hidden").value+"&"
                +"price="+document.getElementById("info-pop-up-price").value
                xhr.send(data)
                xhr.onreadystatechange = () => {
                    document.getElementById("pop-up-spinner").style.display="none"
                 if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                    let response=JSON.parse(xhr.response)
                    if(response.success){
                     popupInfo.style.color="black"
                     popupInfo.innerText="De data prijzen zijn geüpdatet."
                     getAllPrices();
                    }
                    else{
                popupInfo.style.color="red"
                popupInfo.innerText=response.msg
                popupBtn.innerText="Sluiten"
                    }
                }
                else{
                popupInfo.style.color="red"
                popupInfo.innerText="Er ging iets mis. Probeer het later opnieuw." 
                popupBtn.innerText="Sluiten"
                }
                }
        }
        function changePass(){
                popup.style.display="block"
                popupBackground.style.display="block"
                popupInfo.innerText="Wacht even..."
                document.getElementById("pop-up-spinner").style.display="block"
                if(document.getElementById("repeat-new-pass").value===document.getElementById("new-pass").value&&document.getElementById("new-pass").value.length>=8&&document.getElementById("new-pass").value.length<=15){
                const xhr = new XMLHttpRequest();
                xhr.open("PUT", "/user/dashboard/change-pass", true);
                xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                var data = "oldPass="+document.getElementById("old-pass").value+"&"
                +"newPass="+document.getElementById("new-pass").value
                xhr.send(data)
                xhr.onreadystatechange = () => {
                    document.getElementById("pop-up-spinner").style.display="none"
                 if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                    let response=JSON.parse(xhr.response)
                    if(response.success){
                     popupInfo.style.color="black"
                     popupInfo.innerText="Je wachtwoord is verandert."
                    }
                    else{
                popupInfo.style.color="red"
                popupInfo.innerText=response.msg
                popupBtn.innerText="Sluiten"
                    }
                }
                else{
                popupInfo.style.color="red"
                popupInfo.innerText="Er ging iets mis. Probeer het later opnieuw." 
                popupBtn.innerText="Sluiten"
                }
                };
                }
                else if(document.getElementById("new-pass").value.length<8||document.getElementById("new-pass").value.length>15){
                document.getElementById("pop-up-spinner").style.display="none"
                popupInfo.style.color="red"
                popupInfo.innerText="Het nieuwe wachtwoord moet een lengte van minstens 8 tekens hebben." 
                popupBtn.innerText="Sluiten"
                }
                else{
                document.getElementById("pop-up-spinner").style.display="none"
                popupInfo.style.color="red"
                popupInfo.innerText="De 2 wachtwoorden komen niet overeen." 
                popupBtn.innerText="Sluiten"
                }
        }
    </script>
    <style>
table td{
    text-align: center;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
}
.settings{
position: relative;
margin-top: 25px !important;
box-shadow: 3px 3px 0px 0px;
display: block;
margin: auto;
border: 1px solid black;
border-radius: 5px;
width: 700px;
}
p, label{
font-size: 14pt;
}
#pop-up{
text-align: center !important;
animation: popupanimation 0.3s;
background-color: white;
position: absolute;
border-radius: 5px;
border: 2px solid gray;
z-index: 6;
top: 25%;
left: 50%;
margin-top: -50px;
margin-left: -192px;
width: 375px;
   
}
#pop-up-background{
overflow: visible;
top: 0;
position: fixed;
width: 100%;
height: 100%;
z-index: 4;
background-color: black;
opacity: 50%;
}
*{
    font-family: Arial, Helvetica, sans-serif;
}
html,body{
    margin: 0;
   height: 100%;
}
p{
    font-size: 12pt;
}
.fa-solid.fa-xmark{
    cursor: pointer;
}
#topnav{
    margin: 0;
    padding: 0;
    background-color: #036ffc;
    width: 100%;
    overflow: hidden;
}
.selection-buttons{
    display: flex;
    background-color: #036ffc;
    cursor: pointer;
    border: none;
    transition-duration: 0.4s;
    margin: 5px;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    color: black;
    float: left !important;
    i{
        margin-right: 5px;
    }
}
#topnav button:hover{
    background-color: #4294ff;
}
#main{
    display: block;
}
.settings{
   h1,h2, h3, h4{
    text-align: center;
   } 
}
.name-el{
    margin-left: 20px;
    text-align: left;
}
.value-el{
    position: absolute;
    left: 50%;
}
button{
    cursor: pointer;
    font-size: 13pt;
    border-radius: 5px;
    background-color: #036ffc;
    border-color: #036ffc;
    color: white;
}
button:hover{
    background-color: #4294ff;
    border-color: #4294ff;
}
button:disabled{
    background-color: gray;
    border-color: gray;
    color: black;
    cursor: not-allowed;
}
input{
    transition-duration: 0.4s;
    outline: none !important;
    border: none;
    border-radius: 0px !important;
    border-bottom: 2px solid gray;
}
input:focus{
border-bottom:2px solid #036ffc;
box-shadow: none;
}
input:invalid{
border-bottom:2px solid red;
box-shadow: none;
}
input:valid{
border-bottom:2px solid green;
box-shadow: none;
}
#info-pop-up{
animation: infopupopanimation 0.3s;
background-color: white;
position: absolute;
border-radius: 15px;
border: 2px solid gray;
z-index: 6;
top: 25%;
left: 50%;
margin-top: -50px;
margin-left: -192px;
width: 375px;
}
@media only screen and (max-device-width: 1000px)  {
        body{
            width: 100%;
        }
        #main{
            border: none !important;
            box-shadow: none;
        }
        .settings{
            border-radius: 0;
            box-shadow: none;
            border: none;
            border-top: 1px solid black;
            width: 100% !important;
        }
}
@keyframes popupanimation{
    0%{
        transform: scale(0.8);
        opacity: 0%;
    }
    50%{
        transform: scale(1.05);
        opacity: 100%;
    }
    100%{
        transform: scale(1);
        opacity: 100%;
    }
}
    </style>
</body>