<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/fa/css/fontawesome.min.css">
    <link rel="stylesheet" href="/fa/css/solid.min.css">
    <link rel="stylesheet" href="/dashboard.css">
    <title>GIP Jerko | Dashboard</title>
</head>
<body >

    <div id="topnav">
        <button onclick="showTab(document.getElementById('history'), this);" style="background-color:#4294ff">Geschiedenis</button>
        <button onclick="showTab(document.getElementById('nieuw'), this)">Nieuw</button>
        <button onclick="showTab(document.getElementById('saldo'),this)">Saldo</button>
    </div>
    
    <div id="main">
        <div  id="pop-up"  style="display: none;"  >
            <section style="width: 100%; background-color: lightgray; height: 25px; position: absolute;"><!--dit is een section omdat js alle divs in het begin verwijdert-->

                <i class="fa-solid fa-info" style="left: 10px; top: 5px; position: absolute;"></i>
                <i class="fa-solid fa-xmark" onclick="document.getElementById('pop-up').style.display='none';document.getElementById('pop-up-background').style.display='none';" style="color: black; right: 5px; top: 5px; position: absolute;" id="pop-up-close"></i>
            </section>
            <br>
            <i class="fas fa-circle-notch fa-spin" style="font-size:24px; top: 30px; margin: auto; position: relative; display: none; margin-bottom: 35px;" id="pop-up-spinner"></i>
            <p id="pop-up-info"></p> 
            <button onclick="this.parentElement.style.display='none';document.getElementById('pop-up-background').style.display='none';" id="pop-up-btn"></button>
            <br><br>
        </div>

        <div id="pop-up-background" style="display: none;" >
        </div>
        <div id="nieuw">
            <h3>Nieuw aanmaken</h3>
            <hr>
            <table id="new-table" >
                <thead>
                        <th>Optie</th>
                        <th>Waarde</th>
                        <th>Prijs (€)</th>
                   
                </thead>
                <tbody id="new-table-body">
                    <tr>
                        <td class="option-column">Activatie datum: </td>
                        <td class="option-column"><input type="date" id="activation-date" required></td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td class="option-column">Duratie: </td>
                        <td class="option-column">
                            <input type="number" value="1" name="" id="duration" value="0" min="1" max="30" onchange="calcPrice(document.getElementById('devices'), document.getElementById('normal-price'), 'n')">&ensp;
                            <select name="" id="normal-duration-select" onchange="calcPrice(document.getElementById('devices'), document.getElementById('normal-price'), 'n')">
                            <option value="1">Uur</option>
                            <option value="24">Dag(en)</option>
                            <option value="720">Maand(en)</option>
                        </select>
                    </td>
                    <td id="duration-price">-</td>
                    </tr>
                    <tr>
                        <td class="option-column">Aantal apparaten: </td>
                        <td class="option-column"><input type="number" name="" id="devices" min="0" max="50" step="1" value="0" onchange="calcPrice(this, document.getElementById('normal-price'), 'n')"></td>
                        <td id="device-price">-</td>
                    </tr>
                    <tr>
                        <td class="option-column" colspan="2">Prijs:</td>
                        <td  id="normal-price">0</td>
                    </tr>
                    <tr>
                        <td class="option-column">Duratie gast apparaten: </td>
                        <td class="option-column">
                            <input type="number" value="1" name="" id="g-duration" value="0" min="1" max="30" onchange="calcPrice(document.getElementById('g-devices'), document.getElementById('g-price'), 'g')">&ensp;
                            <select name="" id="g-duration-select" onchange="calcPrice(document.getElementById('g-devices'), document.getElementById('g-price'), 'g')">
                            <option value="1">Uur</option>
                            <option value="24">Dag(en)</option>
                            <option value="720">Maand(en)</option>
                        </select>
                    </td>
                    <td id="g-duration-price">-</td> 
                    </tr>

                    <tr>
                        <td class="option-column">Aantal gast apparaten: </td>
                        <td class="option-column"><input type="number" name="" id="g-devices" min="0" max="50" step="1" value="0" onchange="calcPrice(this, document.getElementById('g-price'), 'g')"></td>
                        <td id="g-device-price">-</td>
                    </tr>
                    <tr>
                        <td class="option-column" colspan="2">Prijs:</td>
                        <td  id="g-price">0</td>
                    </tr>
                    <tr>
                        <td class="option-column">Adblocker?*</td>
                        <td class="option-column"><label for="adblockj">Ja</label><input type="radio" name="adblock" id="adblockj"><label for="adblockn">Nee</label><input type="radio" name="adblock" id="adblockn" checked></td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="option-column"><b>Totaal: </b></td>
                        <td><b id="total-price">0</b></td>
                    </tr>
                </tbody>
            </table>
            <br>
            <br>
            <button onclick="createNew()">Aanmaken</button>
        </div>

        <div id="history" >
            <h3 style="text-align: center !important;">Geschiedenis</h3>
            <p style="color: red;" id="info"></p>
            <hr>
            <table id="history-table" >
                <thead>
                        <th>Aanmaak datum</th>
                        <th>Activatie datum</th>
                        <th>Duratie</th>
                        <th>Prijs</th>
                        <th>Aantal apparaten</th>
                        <th>Type</th>
                        <th>Login datum</th>
                </thead>
                <tbody id="history-table-body"></tbody>
            </table>
            <i class="fas fa-circle-notch fa-spin" style="font-size:24px; top: 30px; margin: auto; position: relative; margin-bottom: 35px; display: none;" id="loading-spinner"></i>
        </div>
        <div id="saldo">
            <h3>Saldo</h3>
            <p id="saldo-info" style="color: red;"></p>
            <hr>
            <b><span>Beschikbaar saldo: </span><span id="saldo-total"></span></b>
            <br>
            <br>
            <label for="new-saldo">Saldo in EUR: </label>
            <input type="number" id="new-saldo">
            <br>
            <br>
            <button onclick="setSaldo()">Saldo toevoegen</button>
        </div>
    </div>
    <script>
           var popup = document.getElementById("pop-up")
        var popupBackground=document.getElementById("pop-up-background")
        var popupInfo=document.getElementById("pop-up-info")
        var popupBtn = document.getElementById("pop-up-btn")
        var prices = [];
        getHistory()
        getPrices()
        getSaldo()
        for(let i=0;i<document.getElementById("main").querySelectorAll("div").length;i++) document.getElementById("main").querySelectorAll("div")[i].style.display="none"
        document.getElementById("history").style.display="block"

        function showTab(el, btn){
            for(let i=0;i<document.getElementById("main").querySelectorAll("div").length;i++) {
                document.getElementById("main").querySelectorAll("div")[i].style.display="none"
            } 
            for(let i=0;i<document.getElementById("topnav").querySelectorAll("button").length;i++) {
                document.getElementById("topnav").querySelectorAll("button")[i].style.backgroundColor="#1cde18"
            } 
            el.style.display="block"
            btn.style.backgroundColor="#4294ff"
        }
        function getHistory(){
            console.log("ok")
            document.getElementById("loading-spinner").style.display="block"
            fetch("/user/dashboard/get-history")
            .then(response=>response.json())
            .then(data=>{
                console.log(data)
                let history=data
                console.log(history.price)
                if(!data.length) document.getElementById("info").innerText="Geen geschiedenis om te zien."
                for(let i=0;i<history.length;i++) {
                console.log(history[i])
                let el = document.createElement("tr")
                el.setAttribute("class", "history")
                let date = document.createElement("td")
                date.setAttribute("class", "date")
                date.innerText=formatDate(history[i].creationDate)//aanmaak datum
                el.appendChild(date)
                let adate = document.createElement("td")
                adate.setAttribute("class", "adate")
                adate.innerText=formatDate(history[i].activeDate)//aanmaak datum
                el.appendChild(adate)
                let duration = document.createElement("td")
                duration.innerText=formatTime(history[i].time)
                el.appendChild(duration)
                let price = document.createElement("td")
                price.setAttribute("class", "price")
                price.innerText="€"+history[i].price.toFixed(2)
                el.appendChild(price)
                let devices = document.createElement("td")
                devices.setAttribute("class", "devices")
                devices.innerText=history[i].devices
                el.appendChild(devices)
                let type = document.createElement("td")
                type.setAttribute("class", "type")
                type.innerText=setType(history[i].type)
                el.appendChild(type)
                let ldate = document.createElement("td")
                ldate.setAttribute("class", "devices")
                ldate.innerText=formatDate(history[i].loginDate)
                el.appendChild(ldate)
                document.getElementById("history-table-body").appendChild(el)
            }
            document.getElementById("loading-spinner").style.display="none"
            }).catch(err=>{
                console.log(err)
                document.getElementById("info").innerText="Er ging iets mis."
                document.getElementById("loading-spinner").style.display="none"
            })

        }
        function calcTotPrice(){
            console.log("calc tot price")
            document.getElementById("total-price").innerText=(parseFloat(document.getElementById("normal-price").innerText)+parseFloat(document.getElementById("g-price").innerText)).toFixed(2)
        }
        function getSaldo(){
            fetch("/user/dashboard/get-saldo")
            .then(response=>response.json())
            .then(data=>{
                document.getElementById("saldo-total").innerText="€"+data[0].saldo
            })
            .catch(err=>{
                console.log(err)
                document.getElementById("saldo-info").innerText="Kan saldo niet ophalen. Probeer later opnieuw."
            })
        }
        function getPrices(){
            fetch("/user/dashboard/get-prices")
            .then(response=>response.json())
            .then(data=>{
                console.log(data);
                data.forEach(element => {
                    prices.push(element);//kan weg
                });
                console.log(prices);
            })
            .catch(err=>{
                console.log(err)
            })

        }
        function calcPrice(input, priceField, type){
            console.log(priceField)
            if(type==="n"){//normaal
                for(let i=prices.length-1;i>=0;i--){
                    if(prices[i].devices<=input.value&&prices[i].time<=document.getElementById("duration").value*document.getElementById("normal-duration-select").value) {
                        console.log(prices)
                        priceField.innerText=(prices[i].price*input.value*document.getElementById("duration").value*document.getElementById("normal-duration-select").value).toFixed(2);
                        console.log("price: "+prices[i].price.toFixed(2))
                        break
                    }
                }
            }
            else{//gast
                for(let i=prices.length-1;i>=0;i--){
                    if(prices[i].devices<=input.value&&prices[i].time<=document.getElementById("g-duration").value*document.getElementById("g-duration-select").value) {
                        console.log(prices)
                        priceField.innerText=(prices[i].price*input.value*document.getElementById("g-duration").value*document.getElementById("g-duration-select").value).toFixed(2);
                        console.log("price: "+prices[i].price.toFixed(2))
                        break
                    }
                }
                
            }
                calcTotPrice()
        }
        function createNew(){
            document.getElementById("pop-up-spinner").style.display="block"
            popup.style.display="block"
                popupBackground.style.display="block"
                popupInfo.style.color="red"
                popupInfo.innerText="Wacht even..."
                popupBtn.innerText="Sluiten"
           let data= 'activationDate='+new Date(document.getElementById("activation-date").value).getTime()+'&'+
                'duration='+document.getElementById("duration").value*document.getElementById("normal-duration-select").value+'&'+
                'devices='+document.getElementById("devices").value+'&'+
                'gDuration='+document.getElementById("g-duration").value*document.getElementById("g-duration-select").value+'&'+
                'gDevices='+document.getElementById("g-devices").value+'&'
               if(document.getElementById("adblockj").checked) data+='adblocker='+true
               else data+='adblocker='+false
               console.log(data)
            const xhr = new XMLHttpRequest();
                xhr.open("POST", "/user/dashboard/create-new", true);
                xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                xhr.send(data)
                xhr.onreadystatechange = () => {
                document.getElementById("pop-up-spinner").style.display="none"
                 if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                    let response=JSON.parse(xhr.response)
                    console.log(xhr.response)
                    if(response.success){
                        popupInfo.style.color="black"
                popupInfo.innerText="Beurt toegevoegd."
                popupBtn.innerText="Sluiten"
                    }
                    else{
                        popupInfo.style.color="red"
                popupInfo.innerText=response.msg
                popupBtn.innerText="Sluiten"
                    }
                }
                else{
                popupInfo.style.color="red"
                popupInfo.innerText="Er ging iets mis."
                popupBtn.innerText="Sluiten"
                }
                };
        }
        function formatDate(date){
            if(date!=null)
            {       
            var date = new Date(parseInt(date));
            return date.toLocaleDateString("en-GB")
            }
            else return "Nog niet ingelogd"
        }
        function formatTime(time){
            console.log("time: "+time)
            if(time<24) return time +"h"
            else if(time>=24&&time<720) {
                console.log("tijd groter dan 24: "+time/24+time%24)
                return (time/24)+" Dag(en)"
            }
            else if(time>=720) {
                console.log("tijd groter dan 24")
                return (time/720)+" Maanden(en)"
            }
        }
        function setType(type){
            if(type==1) return "Gast"
            else return "Privé"
        }
        function setSaldo(){
            document.getElementById("pop-up-spinner").style.display="block"
            popup.style.display="block"
                popupBackground.style.display="block"
                popupInfo.style.color="red"
                popupInfo.innerText="Wacht even..."
                popupBtn.innerText="Sluiten"
                let data= 'saldo='+document.getElementById("new-saldo").value
                console.log(data)
                const xhr = new XMLHttpRequest();
                xhr.open("POST", "/user/dashboard/set-saldo", true);
                xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                xhr.send(data)
                xhr.onreadystatechange = () => {
                document.getElementById("pop-up-spinner").style.display="none"
                 if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                popupInfo.style.color="black"
                popupInfo.innerText="Saldo toegevoegd"
                getSaldo()
                popupBtn.innerText="Sluiten"
                }
                else{
                popupInfo.style.color="red"
                popupInfo.innerText="Er ging iets mis."
                popupBtn.innerText="Sluiten"
                }
                };
        }
    </script>
</body>